.field {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 20px;
}

.input {
    font-size: 15px;
}

.button {
    color: white;
    background-color: blue;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}